body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.form{
    width: 420px;
    margin: auto;
    padding-top: 80px;
}
.card{
    box-shadow: 2px 2px 10px #ccc ;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.card-top{
    text-align: center;
}

.card-grup{
    margin-top: 15px;
    margin-bottom: 10px;
}

.card-grup > label{
width: 100%;
color: #030303;
display: block;
}
.card-grup > input{
border-radius: 5px;
outline: 0;
width: 100%;
height: 10px;
padding: 5px;

}

.card-grup > button{
    background-image: linear-gradient(to right, red, rgb(109, 4, 4));
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}
.btn button:hover{
    background-image: linear-gradient(to right, red, rgb(48, 3, 3));

}
.imglogin{
    border-radius: 50px;
    width: 80px;
    box-shadow: 1px 1px 5px #ccc;
    display: block;
    margin: auto;
}
.title{
    color: rgb(219, 21, 21);
    text-align: center;
}
.subtitle{
    text-align: center;
}